<form method="post" action="{{ path('mouse') }}">
<a href="{{ path('homepage') }}">Head out to homepage</a>
    <div>
        <label for="email">Email Address</label>
        <input type="email" value="test@test.com" name="_email" id="email">
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="_password" id="password">
    </div>

    <button type="submit">Login</button>
</form>